.wrapper_footer {
  width: 1456px;
  margin: 0 auto;
  padding: 100px 0;
}

.container_footer {
  display: flex;
  flex-direction: column;
}

.col_10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 40px;
}

.title_col_10 {
  color: rgb(204, 204, 204);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.links p {
  font-weight: 400;
  color: white;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.row_11 {
  display: flex;
}

hr {
  margin: 40px 0;
  width: 100%;
  background-color: rgb(56, 59, 80);
}

.copyrights {
  color: white;
  font-size: 13px;
  margin-bottom: 8px;
}

.links_1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.row_12 {
  display: flex;
  margin-top: 15px;
}

.row_12 p {
  margin-right: 20px;
  color: white;
  font-size: 14px;
}

.row_12 img {
  margin-left: 8px;
}
