*,
::before,
::after {
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

body {
  background-color: rgb(14, 17, 41);
  font-family: "Open Sans", sans-serif;
}

.select-none {
  user-select: none;
}

.fa-solid {
  color: white;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

nav {
  position: absolute;
  top: 0%;
  z-index: 51;
  width: 100%;
  transition: 0.1s ease-out;
  height: 52px;
}

.container_right {
  height: 100%;
}

nav:hover {
  background: rgb(32, 35, 55);
  transition: 0.1s;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.container_community {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: rgb(32, 35, 55);
}
